{{ partial "header.html" . }}


<main>
{{ .Content }}
</main>

<br>
<hr>
<br>
{{ $taxonomy := "localities" }}
{{ with .GetTerms $taxonomy }}
  <p>Localitité :
    {{ range . }}
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    {{ end }}</p>
{{ end }}

{{ $taxonomy := "categories" }}
{{ with .GetTerms $taxonomy }}
  <p>Catégories :</p>
  <ul>
    {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    {{ end }}
  </ul>
{{ end }}

{{ partial "footer.html" . }}